{% extends "main/base.html" %}
{% block content %}


<!DOCTYPE html>

<html>


  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  
	<head>
		<meta charset="utf-8" />
		<title>HTMLiveCode</title>
		<style type="text/css">
			
		</style>
		
	</head>

	<body>
    
<div class="ui segment">
  <div class="ui two column very relaxed grid">
    <div class="column">
    <div align = "right" >
   <div>
      GAME ID:  <div id="gameidgetter">{{gameid}}</div>
      </div>
      <div id="currentplayer">
        
      </div>
      </div>
 
      {{gamesses}}


		
      <table style="text-align:center;border-spacing:0pt;font-family:'Arial Unicode MS'; border-collapse:collapse; border-color: black; border-style: solid; border-width: 0pt 0pt 0pt 0pt">
</body>    

</html>
{% endblock content %}